{% extends 'boat/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="row text-right">
    <div class="col-6">
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Изображение товара</h4>
            </div>
            <div class="card-body">
                <img src="{{object.image|media_filter}}" class="card-img-top" alt={{object.image|media_filter}}>

            </div>
        </div>

    </div>


    <div class="col-6">

        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Описание товара</h4>
            </div>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object | title}}</b></div>
                </h5>
                <p class="card-text">

                    {% if object.price %}

                <h1>{{ object.price }} ₽</h1>
                {% else %}
                <h5>Цена договорная*</h5>

                <small class="text-body-secondary">
                     <span class="text-muted">

                    * если договоритесь :)
                     </span>
                    <br>


                </small>
                <br>
                {% endif %}


                <b>Имя:</b> {{ object.name }} <br>
                <b>Год изготовления:</b> {{ object.year }} <br>
                <b>Владелец:</b> {{ object.owner }} <br>

                <table class="table table-stripped">
                    <tr>
                        <th>Начало</th>
                        <th>Окончание</th>
                        <th>Владелец</th>

                    </tr>


                    {% for history_item in object.boathistory_set.all%}
                    <tr>

                        <td>{{history_item.start_year}}</td>
                        <td>
                            {% if history_item.stop_year%}
                            {{history_item.stop_year}}
                            {% else %}
                            по настоящее время
                            {% endif %}


                        </td>
                        <td>
                            {% if history_item.owner%}
                            {{history_item.owner}}
                            {% else %}
                            не указан
                            {% endif %}

                        </td>

                    </tr>


                    {% endfor %}


                </table>


                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'boat:boat_list' %}" role="button">Вернуться к
                        каталогу</a>


                </div>
                <br>


            </div>
            <div class="card-footer">

                <a class="p-2 btn btn-outline-primary" href="{% url 'order:create' object.pk %}">Оставить заявку</a>

            </div>

        </div>


    </div>


</div>

{% endblock %}